/src/Admin/CNet.Web.Api/bin
/src/Admin/CNet.Web.Api/obj
/src/Admin/CNet.Model/obj
/src/Admin/CNet.Model/bin
/src/Admin/CNet.DBUtility/obj
/src/Admin/CNet.DBUtility/bin
/src/Admin/CNet.DAL/obj
/src/Admin/CNet.DAL/bin
/src/Admin/CNet.Common/bin
/src/Admin/CNet.Common/obj
/src/Admin/CNet.BLL/bin
/src/Admin/CNet.BLL/obj
/src/.vs
/src/packages
/src/Admin/CNet.Web.Api/lib
/src/CNet.Web.Api/bin
/src/CNet.Web.Api/obj
/src/CNet.BLL/bin
/src/CNet.BLL/obj
bin
obj
