<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="GlobalLog" type="log4net.Appender.RollingFileAppender">
    <file value="log/" />
    <!--<file value="F:\\Study\\DotNet\\CNet\\src\\CNet.Web.Api\\log\\" />-->
    <appendToFile value="true" />
    <!--防止多线程时不能写Log,官方说线程非安全-->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="2MB" />
    <!--文件名根据天命名-->
    <staticLogFileName value= "false"/>
    <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline" />
    </layout>
   <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="GlobalLog" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  
  <!--分文件夹RequestLog日志-->
  <appender name="RequestLog" type="log4net.Appender.RollingFileAppender">
    <file value="log/RequestLog/" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <datePattern value="yyyyMMdd&quot;.log&quot;" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="2MB" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="RequestLog" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  
  <root>
    <level value="INFO" />
    <appender-ref ref="GlobalLog" />
    <appender-ref ref="RequestLog"/>
  </root>
</log4net>

